<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Amin Template">
    <meta name="keywords" content="Amin, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Amin | Catalog</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cinzel:400,700,900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" th:href="@{/css/amin/bootstrap.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/amin/font-awesome.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/amin/elegant-icons.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/amin/owl.carousel.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/amin/barfiller.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/amin/magnific-popup.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/amin/slicknav.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/amin/style.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/amin/my-changes.css}" type="text/css">

    <!-- Подключаем скрипты для Websocket -->
    <script type="text/javascript" th:src="@{https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.js}"></script>
    <script type="text/javascript" th:src="@{https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.js}"></script>
    <script type="text/javascript" th:src="@{/js/amin/topics/add-to-cart.js}"></script>
</head>

<body>
<!--/*@thymesVar id="categories" type=""*/-->

<!-- Page Preloder, Humberger Menu, Header Section Begin -->
<superheader th:replace="/amin/fragments/header.html :: header(
    activePage=${activePage}, categories=${categories}, filterDef=${filterDef},
    showFilters=true, cartItemsQuantity=${cartItemsQuantity})"></superheader>
    <!-- Page Preloder, Humberger Menu, Header Section End -->

    <!--  Product cards(was Categories Grid) Section Begin -->
    <section class="categories-grid-section spad">
        <div class="container">
            <div class="row">
                <!-- cards left part -->
                <div class="col-lg-12 p-0">
                    <!-- cards line -->
                    <div class="row">
                        <!-- card item -->
                        <div class="col-lg-4" th:each="p : ${page}">
                            <div class="cg-item">
                                <!-- card img -->
                                <a class="cg-pic set-bg">
                                    <!-- //TODO p.images[0] - Убрать жесткую привязку к позиции картинки в коллекции -->
<!--                                    <img th:src="@{'/img/amin/' + ${p.images[0].path}}" alt="product card item image" src="">-->
<!--                                    <img th:src="@{'/images/cg-1.jpg'}" alt="product card item image" src="">-->
                                    <img th:src="@{'/images/amin/' + ${p.images[0].path}}" alt="product card item image" src="">
                                </a>
                                <div>
                                    <a class="catalog__product-card__category" th:href="@{'/catalog/all?category=' + ${p.category.id}}">
                                        <span th:text="${p.category.title}">Category</span>
                                    </a>
                                </div>
                                <!-- card texts block -->
                                <div class="cg-text">
                                    <h5 class="min-height-85px">
                                        <a th:href="@{/catalog/{prod_id}/details(prod_id = ${p.id})}"
                                           th:text="${p.title}"></a>
                                    </h5>

                                    <ul>
                                        <li>by <span>Admin</span></li>
                                        <li><i class="fa fa-clock-o"></i> Aug 01, 2019</li>
                                        <li><i class="fa fa-comment-o"></i> 20</li>
                                    </ul>

                                    <!-- Product card Price -->
                                    <div>
                                        <div class="catalog__product-card__price">
                                            <span th:text="${p.price}">Price of product</span>
                                        </div>

                                        <div class="catalog__product-card__price">
                                            <span th:text="'руб'">RUR</span>
                                        </div>

                                        <a sec:authorize="isAnonymous()"
                                           class="catalog__product-card__price btn-to-cart color-white"
                                           th:href="@{'/login'}"
                                           th:text="'Add To Cart'"></a>
                                        <a sec:authorize="isAuthenticated()" th:id="${p.id}" th:onclick="'addToCartByProdId('+${p.id}+')'"
                                           class="catalog__product-card__price btn-to-cart color-white"
                                           th:text="${quantities['__${p.id}__']} == null or ${quantities['__${p.id}__']} == 0 ? 'Add To Cart' : 'Add To Cart(' + ${quantities['__${p.id}__']} + ')'"
                                           style="color: white"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- pagination line -->
                    <div class="row justify-content-center">
                        <div th:if="${page.hasContent()}">
                            <a th:class="pagination-item-a" th:href="@{'/catalog/all?page='
                                   + ${page.previousOrFirstPageable().getPageNumber() + 1}
                                   + ${filterDef}}">
                                <span th:class="pagination-item-a-span">Previous</span></a>

                            <a th:class="${page.getNumber() + 1 == i ?
                                    'pagination-item-a pagination-item-active' :
                                    'pagination-item-a'}"
                               th:each="i : ${#numbers.sequence(1, page.getTotalPages())}"
                               th:href="@{'/catalog/all?page='+ ${i} + ${filterDef}}">
                                <span th:class="pagination-item-a-span" th:text="${i}"></span>
                            </a>

                            <a th:class="pagination-item-a" th:href="@{'/catalog/all?page='
                                   + ${page.nextOrLastPageable().getPageNumber() + 1}
                                   + ${filterDef}}">
                                <span th:class="pagination-item-a-span">Next</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product cards(was Categories Grid) Section End -->

    <!-- Footer Section Begin -->
    <footer th:replace="/amin/fragments/footer.html"></footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script th:src="@{/js/amin/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/amin/bootstrap.min.js}"></script>
    <script th:src="@{/js/amin/jquery.magnific-popup.min.js}"></script>
    <script th:src="@{/js/amin/circle-progress.min.js}"></script>
    <script th:src="@{/js/amin/jquery.barfiller.js}"></script>
    <script th:src="@{/js/amin/jquery.slicknav.js}"></script>
    <script th:src="@{/js/amin/owl.carousel.min.js}"></script>
    <script th:src="@{/js/amin/main.js}"></script>
</body>

</html>