<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Amin Template">
    <meta name="keywords" content="Amin, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Amin | Orders List</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cinzel:400,700,900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" th:href="@{/css/amin/bootstrap.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/amin/font-awesome.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/amin/elegant-icons.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/amin/owl.carousel.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/amin/barfiller.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/amin/magnific-popup.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/amin/slicknav.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/amin/style.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/amin/my-changes.css}" type="text/css">
</head>

<body>
    <!-- Page Preloder, Humberger Menu, Header Section Begin -->
    <!--/*@thymesVar id="categories" type=""*/-->
    <!--/*@thymesVar id="activePage" type="java.lang.String"*/-->
    <superheader th:replace="/amin/fragments/header.html :: header(
        activePage=${activePage}, categories=${categories}, filterDef='',
        showFilters=false, cartItemsQuantity=${cartItemsQuantity})"></superheader>
    <!-- Page Preloder, Humberger Menu, Header Section End -->
    <!-- Items list Section Begin -->
    <section class="cart-list-section spad">
        <div class="container">
            <!-- Блок Хлебные крошки and Product title Begin-->
            <div class="row">
                <div class="col-lg-12 p-0">
                    <div class="details-text typography-page">
                        <div class="dt-breadcrumb">
                            <div class="dt-bread-option">
                                <a class="color-white" th:href="@{'/profile'}">Profile</a>
                                <span>Orders List</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Блок Хлебные крошки and Product title  End -->

            <!-- Table of CartItems list Begin -->
            <!--/*@thymesVar id="page" type="org.springframework.data.domain.Page"*/-->
            <div class="col-lg-12 p-0">
                <h4 th:if="${page.isEmpty()}"
                    class="color-white">The orders list is empty!</h4>
                <table th:if="${page.hasContent()}"
                       class="table color-white">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>id</th>
                        <th>order status</th>
                        <th>user</th>
<!--                        <th>order items details</th>-->
                        <th>total items costs</th>
                        <th>total costs</th>
<!--                        <th>delivery details</th>-->
                        <th>created at</th>
                        <th>updated at</th>
                        <th>operations</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="order, itrStat : ${page}">

                        <td th:text="${itrStat.index + 1}"></td>
                        <!--/*@thymesVar id="order" type="ru.geekbrains.spring.ishop.entity.Order"*/-->
                        <!--/*@thymesVar id="orderItem" type="ru.geekbrains.spring.ishop.entity.OrderItem"*/-->
                        <td th:text="${order.id}"></td>

                        <td th:text="${order.orderStatus.title}"></td>

                        <td th:text="${order.user.userName}"></td>

<!--                        <td th:text="${order.orderItems}"></td>-->

                        <td th:text="${order.totalItemsCosts}"></td>

                        <td th:text="${order.totalCosts}"></td>

<!--                        <td th:text="${order.delivery}"></td>-->

                        <td th:text="${order.createdAt}"></td>

                        <td th:text="${order.updatedAt}"></td>

                        <td>
                            <ul class="dropdown">
                                <li>
                                    <a th:href="@{'/profile/order/show/' + ${order.id} + '/order_id'}">Show</a>
                                </li>

                                <li th:class="${activePage == 'How to pay' ? 'mega-menu active' : 'mega-menu'}">
                                    <a th:href="@{'/profile/order/edit/' + ${order.id} + '/order_id'}">Edit</a>
                                </li>

                                <li th:class="${activePage == 'Delivery' ? 'mega-menu active' : 'mega-menu'}">
                                    <a th:href="@{'/profile/order/cancel/' + ${order.id} + '/order_id'}">Cancel</a>
                                </li>

                                <li th:class="${activePage == 'Contact' ? 'mega-menu active' : 'mega-menu'}">
                                    <a th:href="@{'/profile/order/delete/' + ${order.id} + '/order_id'}">Delete</a>
                                </li>
                            </ul>
                        </td>

<!--                        <td>-->
<!--                            <a class="btn btn-warning" th:href="@{'/profile/order/delete/' + ${order.id} + '/order_id'}">Delete</a>-->
                            <!--                                <a class="btn btn-info" th:href="@{'/profile/cart/saveForLater/' + ${product.id}}">Save for later</a>-->
<!--                        </td>-->
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- Table of CartItems list End -->
            <!-- pagination line -->
            <div class="row justify-content-center">
                <!--/*@thymesVar id="page" type="org.springframework.data.domain.Page"*/-->
                <div th:if="${page.hasContent()}">
                    <a th:class="pagination-item-a" th:href="@{'/profile/order/all?page='
                                   + ${page.previousOrFirstPageable().getPageNumber() + 1}
                                   + ${filterDef}}">
                        <span th:class="pagination-item-a-span">Previous</span></a>

                    <a th:class="${page.getNumber() + 1 == i ?
                                    'pagination-item-a pagination-item-active' :
                                    'pagination-item-a'}"
                       th:each="i : ${#numbers.sequence(1, page.getTotalPages())}"
                       th:href="@{'/profile/order/all?page='+ ${i} + ${filterDef}}">
                        <span th:class="pagination-item-a-span" th:text="${i}"></span>
                    </a>

                    <!--/*@thymesVar id="filterDef" type="java.lang.StringBuilder"*/-->
                    <a th:class="pagination-item-a" th:href="@{'/profile/order/all?page='
                                   + ${page.nextOrLastPageable().getPageNumber() + 1}
                                   + ${filterDef}}">
                        <span th:class="pagination-item-a-span">Next</span></a>
                </div>
            </div>
        </div>
    </section>
    <!-- Items list Section End -->

    <!-- Footer Section Begin -->
    <footer th:replace="/amin/fragments/footer.html"></footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script th:src="@{/js/amin/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/amin/bootstrap.min.js}"></script>
    <script th:src="@{/js/amin/jquery.magnific-popup.min.js}"></script>
    <script th:src="@{/js/amin/circle-progress.min.js}"></script>
    <script th:src="@{/js/amin/jquery.barfiller.js}"></script>
    <script th:src="@{/js/amin/jquery.slicknav.js}"></script>
    <script th:src="@{/js/amin/owl.carousel.min.js}"></script>
    <script th:src="@{/js/amin/main.js}"></script>
</body>
</html>