.container {
    margin: 0 auto;
}

.header {
    margin: 0 auto;
    padding: 10px;
    display: flex;
}
/* header */
.header__shop-logo {
    margin: 10px;
    width: 15%;
}
/* header */
.header-right {
    display: flex;
    justify-content: center;
}
/* header */
.searching-form-div {
    margin: 0 auto;
    padding: .5rem 1rem;
}
/* header */
.searching-form, .navbar {
    margin: 0 auto;
    padding: .5rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__nav-item-inout {
    margin-left: 50px;
}

/* карусель слайдов */
.bd-example {
    height: 300px;
    margin: 20px auto 0;
}

.filter-form {
    margin-bottom: 0;
    padding: 10px;
}

.input-group {
    margin-bottom: 10px;
}

.catalog__filter__select {
    height: calc(2.25rem + 2px);
    padding:0;
}

.catalog__filter__btn-group {
    display: flex;
    justify-content: center;
}

.catalog__filter__btn {
    margin-right: 10px;
}

/* catalog product card*/
.card-deck {
    margin-bottom: 20px;
}

.card {
    min-width: 25%;
    max-width: 31%;
    margin: 15px;
    height: 500px;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    padding: 10px;
}

.card-img-top {
    border: 1px solid steelblue;
    height: 300px;
    width: 100%;
}
.card-footer {
    background-color: darkslateblue;
    text-align: center;
    display: flex;
}

.card-body {
    max-height: 300px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.card-footer:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.price {
    color: beige;
    font-size: x-large;
    font-weight: bold;
    margin: 0 auto;
}

.pagination {
    justify-content: center;
}

.footer {
    color: beige;
    padding: 20px;
}

/* special */
.color-white {
    color: white;
}
