<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<!--      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">-->
<head>
    <title>Product category form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- full path: src\main\resources\static\css -->
    <link rel="stylesheet" th:href="@{/css/admin_section.css}">
</head>

<div class="container">

    <header th:replace="fragments/admin_header.html :: header (activePage = null)"></header>

    <h2 th:text="${category.id == null} ? 'Creating a new category'
            : 'Updating the category:'"></h2>

    <form th:action="@{/admin/product/category/form}" th:object="${category}" method="post">
        <!-- id -->
        <div th:if="*{id != null}" class="form-group col-md-6">
            <label for="inputId" class="h5">id</label>
            <!-- скрытое поле для передачи в объект продукта-->
            <input name="id" type="number" th:value="*{id}" hidden>
            <!-- деактивированное поле для отображения на странице без возможности редактирования -->
            <input class="form-control" id="inputId" th:value="*{id}" disabled>
        </div>

        <!-- Title -->
        <div class="form-group col-md-12">
            <label for="inputTitle" class="h5">Title</label>
            <input name="title" class="form-control" id="inputTitle"
                   type="text" th:value="*{id != null} ? *{title}"
                   placeholder="Input title" required>
        </div>

        <div class="product_form__btn-submit-div">
            <button type="submit" class="btn btn-primary">Send</button>
        </div>
    </form>

    <footer th:replace="fragments/footer.html"></footer>

</div>

</html>